<link rel="stylesheet" href="{{ themePath }}/antd.css">
<link rel="stylesheet" href="{{ themePath }}/antd-theme.css">
<span class="ant-checkbox-wrapper">
    <span class="ant-checkbox">
        <input type="checkbox" class="ant-checkbox-input" value="" />
        <span class="ant-checkbox-inner"></span>
    </span>
    <label><slot name="label"></slot><slot></slot></label>
</span>